@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html {

    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;

    /* background: linear-gradient(90deg, rgba(80,82,194,1) 0%, rgba(131,58,180,1) 100%); */
}

body {
    /* background: linear-gradient(90deg, rgba(80,82,194,1) 0%, rgba(131,58,180,1) 100%) !important; */
	display: flex;
	flex-flow: column;
	/* gap: var(--spacing); */
	height: 100%;
    padding-bottom: 0;
    padding-top: 0;
    padding-right: 0;
}

body > main, body > footer {
    padding-inline: 0% !important;
}

.mfi {
display: none;

}

h1 {
    font-size: 6em;
    font-weight: 700;
    margin: 0%;
    margin-top: 10%;
    margin-bottom: -10%;

}

.white-btn {
    background-color: white;
    color: #5052c9;
    
}

.white-btn:hover {
    color: #ffffff;
    box-shadow: inset 0 0 0 3px #ffffff;
    background-color:#504eb4;
    
}

button {
    padding: 1em 1em 1em 1em;
    border-radius: 5px;
    border: none;
    background-color: white;
    font-family: 'Rajdhani', sans-serif;
    font-size: 14px;
    font-weight: 600;
    transition: .2s;
    margin-top: 20px;
}

main {
    display: grid; 
    grid-template-columns: 1fr 4fr; 
    grid-template-rows: 1fr; 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    gap: 60px;
        font-family: 'Rajdhani', Courier, monospace;
        margin-left: 7%;

        

}



.sidebar {
    grid-area: 1 / 1; 
    color: rgb(0, 0, 0);
    font-family: 'Rajdhani', Courier, monospace;
}

.head-title {
    color: rgb(0, 0, 0);
    font-weight: 700;
    font-size: 4em;
    grid-area: 1 / 1;
    font-family: 'Rajdhani', Courier, monospace;
    margin-top: 30%;
    
}

.content {
    grid-area: 1 / 2; 
    height: 96vh;
    /* margin-top: -20px; */
    display: flex;
    flex-direction: column ;
    color: rgb(0, 0, 0);
    font-weight: 600;
    overflow: scroll;
    padding: 10px;
    padding-right: 15%;
}

.rajd {
    font-family: 'Rajdhani', Courier, monospace;

}

.sub-header-content {
    font-size: 2em;
    font-weight: 600;
    padding: 0%;
    margin: 0%;
    margin-bottom: 20px;
    /* margin-bottom: -200px; */

}

.sub-header {
    font-size: 1.3em;
    font-weight: 400;
}

h2 {
    font-size: 6em;
    font-weight: 700;
    margin: 0%;
    margin-top: 10%;
}

.abc {
    font-size: 3em;
}

.blokken {
    display: flex;
    flex-direction: row;
    padding-bottom: 0;
    margin-top: 4%;
}

.tekst-blok {
    margin: .3%;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    background-color: #f0f2f3;    
    font-family: 'Rajdhani', Courier, monospace;
    font-weight: 700;
}

.grijs-zwart {
    color: black;
    
}

.paars-wit {
    background-color: #f0f2f300;
    border: solid;
    border-width: 2px;
    border-color: #f0f2f3;
    background-color: #504eb4;
    color: #eee;

}

.grijs-paars {
    color: #504eb4;

}

.rob {
    font-family: 'Roboto', Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 300;
    margin-top: 1%;
    

}

.headline {
    font-size: 3em;
    margin-right: 60%;
    line-height: 1;

}


.solid {
    border-top: 3px solid #bbb;
    margin-top: 50px;
    margin-bottom: 50px;
}

.text-uitleg {
    font-size: 1.5em;
    margin-right: 30%;


}

h3 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif, sans-serif;
    font-weight: 400;
    font-size: 2em;
    margin-top: 5%;
}

code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin-bottom: 1em;
    border-radius: 5px;
    color: #504eb4;

}

h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-weight: 300;

}


@media only screen and (max-width: 600px) {
    
    
    main {
        display: grid; 
        grid-template-columns: 1fr; 
        grid-template-rows: 1fr; 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
        gap: 60px;
            font-family: 'Rajdhani', Courier, monospace;
    
    }

    .content {
        grid-area: 1 / 1; 
        height: 75vh;
        margin-top: 50%;
        display: flex;
        flex-direction: column ;
        color: white;
        font-weight: 600;
        overflow: scroll;
        padding: 10px;
        padding-right: 15%;
        margin-left: -10px;
    }

    .sidebar {
        grid-area: 1 / 1; 
        color: white;
        font-family: 'Rajdhani', Courier, monospace;
        margin-top: -27%;
    }
    
    .abc {
        font-size: 1.2em;
        margin-right: 50%;
    }

    .blokken {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
        margin-top: 4%;
    }
    
    .tekst-blok {
        margin: 2%;
        margin-left: 0;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 20px;
        font-family: 'Rajdhani', Courier, monospace;
        font-weight: 700;
    }

    .rajd {
        font-family: 'Rajdhani', Courier, monospace;
    width: 70vw;
    }

    .text-uitleg {
        font-size: 1.2em;
        margin-right: 0%;
        margin-top: -15px;
    
    
    }

    .headline {
        font-size: 3em;
        margin-right: 0%;
        line-height: 1;
    
    }

    .mfi {
        display: block;
        margin-top: 10px;
        margin-right: 10%;

    }
    
    html {
        padding: 5%;
        padding-bottom: 0;
        padding-top: 0;
        padding-right: 0;
        background: linear-gradient(360deg, rgba(80,82,194,1) 0%, rgba(131,58,180,1) 300%);
    }

    .rob {
        font-family: 'Roboto', Arial, Helvetica, sans-serif, sans-serif;
        font-weight: 300;
        margin-top: 1%;
        
    
    }
    
}