@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {
	--spacing: .5rem;

	--heading-font: Rajdhani, san-serif;
	--regualar-font: Roboto, san-serif;

	--primary-color: #524dd0;
	--accent-color: #00ffec;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	font-family: var(--regualar-font);
}

body,
article,
section {
	display: flex;
	flex-flow: column;
	gap: .5rem;
	height: 100%;
}
body > header,
body > footer,
article > header,
article > footer,
section > header,
section > footer {
	flex: 0 1 auto;
}

article > div,
section > div {
	padding: 0 var(--spacing)
}

body > main,
article > div,
section > div {
	flex: 1 1 auto;
}

body > main {
	padding: 0 var(--spacing);
}

body > header {
	background: var(--primary-color);
	color: white;
	padding: var(--spacing);
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}