@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
	--spacing: 1rem;

	--heading-font: 'Rajdhani', Courier, monospace;
	--regualar-font: 'Roboto', san-serif;

	--primary-color: #524dd0;
	--accent-color: #00ffec;

	--device-sm: 600px;
	--device-md: 768px;
	--device-lg: 992px;
	--device-xl: 1200px;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	font-size: 16px;
}

body {
	font-family: var(--regualar-font);
}

body,
section {
	display: flex;
	flex-flow: column;
	height: 100%;
}

body > header,
body > footer,
section > header,
section > footer {
	flex: 0 1 auto;
}

body > main,
section > div {
	flex: 1 1 auto;
}

h1, h2, h3, h4, h5, h6 {
	font-family: var(--heading-font);
}

section > header {
	border-bottom: 1px solid grey;
	padding-bottom: var(--spacing);
	margin-bottom: var(--spacing);
}

section > header > h1 {
	font-size: 2em;
}

article {
	margin-bottom: var(--spacing);
}
article > header {
	margin-bottom: calc(var(--spacing) / 2);
}

#root-header {
	padding: var(--spacing);
}

#root-main {
	overflow: scroll;
	position: relative;
	display: flex;
}

#root-header {
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	gap: var(--spacing);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5),0 0 5px rgba(0,0,0,.5);
	z-index: 1;
}

#root-header > img {
	height: 31px;
}

#main-content {
	padding: var(--spacing);
	flex: 1;
}

#main-nav-items {
	display: flex;
	flex-direction: column;
}

#main-nav-items > a {
	padding: var(--spacing);
	text-decoration: none;
	font-family: 'rajdhani';
	font-size: 1.3em;
	color: black;
	transition: .2s ease-in;
}

#main-nav-items > a:hover {
	background-color: lightgrey;
	transition: .2s ease-out;
}

::-webkit-scrollbar {
  display: none;
}

.grid {
	display: grid;
	grid-template-columns: 4fr 2fr;
}

#main-nav {
	position: absolute;
	height: 100%;
	width: 100%;
	background: transparent;
	transition: background .2s ease-out, left 0s ease-out .2s;
	left: -100%;
}

#main-nav > #main-nav-items {
	position: absolute;
	background: white;
	height: 100%;
	width: 300px;
	left: -100%;
	transition: left .2s ease-out;
	overflow: scroll;
}

#main-content {
	overflow: scroll;
}

#main-nav.visible,
#main-nav.visible > #main-nav-items {
	left: 0;
}

#main-nav.visible {
	background-color: rgba(0, 0, 0, 0.5);
	transition: background .2s ease-in, left 0s ease-in 0s;
}

#main-nav.visible > #main-nav-items {
	transition: left .2s ease-in;
}

@media only screen and (min-width: 992px) {
	#root-header > a > img {
		content: url('./assets/CTC_Primary_Logo_White.png');
		height: 45px;
	}
	#root-header > button {
		display: none;
	}

	#main-nav,
	#main-nav > #main-nav-items {
		position: initial;
		width: 300px;
	}
}