<head>
    <script src="https://kit.fontawesome.com/59197de1dd.js" crossorigin="anonymous"></script>

<section>
	<header>
		<h1>Voorbeeld</h1>
	</header>
	<div class="grid">
		<div>
			<article>
				<header>
					<h2>Soorten</h2>
				</header>
				<div>
					<ul>
                        <i class="fa-solid fa-magnifying-glass" style="color: #524dd0; margin: 5px;"
                            alt="Zoeken, vergrootglas Pictogram"></i>
                        <i class="fa-solid fa-location-dot" style="color:#524dd0; margin: 5px;" id="Smartzonesicoon"
                            alt="Smartzones"></i>
                        <i class="fa-solid fa-bars" style="color:#524dd0; margin: 5px;" id="Menuicoon" alt="Menupictogram"></i>
                        <i class="fa-solid fa-star" style="display: width= 70px; height: 70px; color: #524dd0;" id="Favorietenicoon"
                            alt="Favorieten Icoon"></i>
                        <img width="70" height="70" src="./assets/OSicoon.png" alt="Opportunity Scan Icoon" style="display: list-item;">
                        <img width="70" height="70" src="./assets/Livinglabicoon.png" alt="Living Lab Icoon" style="display: list-item;">
                        <img width="70" height="70" src="./assets/Bluetoothicoon.png" alt="Roll out plan Icoon" style="display: list-item;">
                    </ul>
				</div>
			</article>

			<article>
				<header>
					<h2>Code</h2>
				</header>
				<div>
					<article>
						<header>
							<h3>Zoekicoon</h3>
						</header>
						<div>
							<pre><code>&lt;i class="fa-solid fa-magnifying-glass" style="color: #524dd0; margin: 5px;" alt="Zoeken, vergrootglas Pictogram"&gt;</code></pre>
						</div>
					</article>
					<article>
						<header>
							<h3>Smartzonesicoon</h3>
						</header>
						<div>
							<pre><code>&lt;i class=&quot;fa-solid fa-location-dot&quot; style=&quot;color:#524dd0; margin: 5px;;&quot;&gt;</code></pre>
						</div>
					</article>
					<article>
						<header>
							<h3>Menuicoon</h3>
						</header>
						<div>
						 <pre><code>&lt;i class=&quot;fa-solid fa-bars&quot; style=&quot;color:#524dd0; margin: 5px;;&quot;&gt;</code></pre>
						</div>
					</article>
					<article>
						<header>
							<h3>Favorietenicoon</h3>
						</header>
						<div>
							<pre><code>&lt;i class=&quot;fa-solid fa-star&quot;style=&quot;color:#524dd0; margin: 5px;&quot; alt=Favorietenicoon&gt;&lt;/a&gt;</code></pre>
						</div>
					</article>
                    <article>
						<header>
							<h3>Opportunity Scan icoon</h3>
						</header>
						<div>
							<pre><code>&lt;img width=&quot;70&quot;height=&quot;70&quot;src=&quot;OSicoon.png&quot;alt=&quot;Opportunity Scan Icoon&gt;</code></pre>
						</div>
					</article>
                    <article>
						<header>
							<h3>Living lab icoon</h3>
						</header>
						<div>
							<pre><code>&lt;img width=&quot;70&quot;height=&quot;70&quot;src=&quot;Livinglabicoon.png&quot;alt=&quot;Living Lab Icoon&gt;</code></pre>
						</div>
					</article>
                    <article>
						<header>
							<h3>Roll-out plan icoon</h3>
						</header>
						<div>
							<pre><code>&lt;img width=&quot;70&quot;height=&quot;70&quot;src=&quot;Bluetoothicoon.png&quot;alt=&quot;Roll out Icoon&gt;</code></pre>
						</div>
					</article>
				</div>
			</article>
		</div>
		<div>
			<article>
				<header>
					<h2>Omschrijving</h2>
				</header>
				<div>
				   <p>Op de huidige pagina van Coding the Curbs zijn er maar weinig iconen aanwezig.</p>
			       <p>In acht genomen dat Coding the Curbs in de toekomst een aantal componenten aan de webpagina wilt toevoegen,
				       zijn er wat extra iconen toegevoegd vanuit de uitwerkingen van deze componenten.</p>
			       <p>De gekozen stijl van de iconen komt het beste overeen met de huidige huisstijl van Coding the Curbs. Dit zal
				       het in de toekomst makkelijker maken om deze te implementeren.</p>
				</div>
			</article>

			<article>
				<header>
					<h2>Kleuren</h2>
				</header>
				<div class="flex-container">
                    <div class="flex-items">#524dd0</div>
                    <div class="flex-items">#fff</div>
                </div>
			</article>

			<article>
				<header>
					<h2>Gedrag</h2>
				</header>
				<div>
					De iconen hebben buiten het aankondigen van het onderwerp van de tekst geen verdere functie
				</div>
			</article>
		</div>
	</div>
</section>
</head>