<section>
	<header>
		<h1>Afbeeldingen</h1>
	</header>
	<div class="grid">
		<div>
			<article>
				<header>
					<h2>Soorten</h2>
				</header>
				<div>
					<article id="primary-logos">
						<header>
							<h3>Primaire logo's</h3>
						</header>
						<div class="grid w-full">
							<img src="./assets/primarylogo1.jpg" alt="Logo Coding the Curbs witte tekst blauwe achtergrond" class="primair-logo">
							<img src="./assets/primarylogo2.jpg" alt="Logo Coding the Curbs donkere tekst doorzichtige achtergrond" class="primair-logo">
							<img src="./assets/primarylogo3.jpg" alt="Logo Coding the Curbs blauwe tekst doorzichtige achtergrond" class="primair-logo">
						</div>
						<p>Minimale hoogte: 25px<br>Maximale hoogte: geen</p>
					</article>
					<article id="secondary-logos">
						<header>
							<h3>Secundaire logo's</h3>
						</header>
						<div class="grid w-full">
							<img src="./assets/secundairylogo1.jpg" alt="Logo Coding the Curbs groen logo blauwe achtergrond" class="secundair-logo">
							<img src="./assets/secundairylogo2.jpg" alt="Logo Coding the Curbs wit logo blauwe achtergrond" class="secundair-logo">
							<img src="./assets/secundairylogo3.jpg" alt="Logo Coding the Curbs donker logo doorzichtige achtergrond" class="secundair-logo">
							<img src="./assets/secundairylogo4.jpg" alt="Logo Coding the Curbs blauw logo doorzichtige achtergrond" class="secundair-logo">
						</div>
						<p>Minimale hoogte: 16px<br>Maximale hoogte: 50px</p>
					</article>
					<article id="primary-logos">
						<header>
							<h3>Grafische afbeeldingen</h3>
						</header>
						<div class="grid w-full">
							<img src="./assets/grafisch1.jpg" alt="Voorbeeld smart zone in straat">
							<img src="./assets/grafisch2.jpg" alt="Voorbeeld smart zone in centrum">
							<img src="./assets/grafisch3.jpg" alt="Voorbeeld indeling smart zone">
						</div>
					</article>
					<article id="primary-logos">
						<header>
							<h3>Foto's</h3>
						</header>
						<div class="grid w-full">
							<img src="./assets/foto12.jpg" alt="Een bezorgbusje op een smart zone">
							<img src="./assets/foto13.jpg" alt="Mensen die aan een tafel zitten op een smart zone">
							<img src="./assets/foto14.jpg" alt="Voorbeeld van een smart zone">
						</div>
					</article>
				</div>
			</article>

			<article>
				<header>
					<h2>Code</h2>
				</header>
				<div>
					<article>
						<header>
							<h3>Code 1</h3>
						</header>
						<div>
							<pre><code>&lt;img src="foto.jpg" alt="Dit is een foto"&gt;</code></pre>
						</div>
					</article>
					<article>
						<header>
							<h3>Code 2</h3>
						</header>
						<div>
							<pre><code>&lt;figure&gt;</code><br><code>&#09;&lt;img src="foto.jpg" alt="Dit is een foto"&gt;</code><br><code>&lt;/figure&gt;</code></pre>
						</div>
					</article>
					<article>
						<header>
							<h3>Code 3</h3>
						</header>
						<div>
							<pre><code>&lt;figure&gt;</code><br><code>&#09;&lt;img src="foto.jpg" alt="Dit is een foto"&gt;</code><br><code>&#09;&lt;figcaption&gt;Dit is hoe je een afbeelding toevoegd&lt;/figcaption&gt;</code><br><code>&lt;/figure&gt;</code></pre>
						</div>
					</article>
				</div>
			</article>
		</div>
		<div>
			<article>
				<header>
					<h2>Omschrijving</h2>
				</header>
				<div>
					<h3>Logo's</h3>
					<p>Het primaire logo moet gebruikt worden op plekken waar een verwijzing naar de volledige naam nodig is of waar deze uitgelicht moet worden. <br> 
						<br>
						Het secundaire logo moet gebruikt worden op smalle plekken waar het primaire logo teveel ruimte inneemt of als er geen verwijzing nodig is.</p>
					<h3>Afbeeldingen</h3>
					<p>Afbeeldingen kunnen worden gebruikt om zaken te verduidelijken of als opvulling.<br>
						<br>
						Zorg ervoor dat afbeeldingen altijd een alternatieve tekst bevatten. Dit mag ook een 'lege' tekst zijn als de afbeelding geen toegevoegde waarde heeft.</p>
				</div>
			</article>

			<article>
				<header>
					<h2>Kleuren</h2>
				</header>
				<div class="colors">
					<div class="colors__item">
						<h3>#524dd0</h3>
						<div style="background: #524dd0;"></div>
					</div>
					<div class="colors__item">
						<h3>#110f2a</h3>
						<div style="background: #110f2a;"></div>
					</div>
					<div class="colors__item">
						<h3>#ffffff</h3>
						<div style="background: #ffffff;"></div>
					</div>
					<div class="colors__item">
						<h3>#00ffec</h3>
						<div style="background: #00ffec;"></div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>