<h1>Afbeeldingen</h1>

<article>
	<header>
		<h2>Soorten afbeeldingen</h2>
		<hr/>
	</header>

	<div class="container">
		<h3>Primaire logo's</h3>
		<p>Dit logo moet gebruikt worden op plekken waar een verwijzing naar de volledige naam nodig is of waar deze uitgelicht moet worden.</p>
		<div class="logo-container">
			<img src="./assets/primarylogo1.jpg" alt="Logo Coding the Curbs witte tekst blauwe achtergrond" class="primair-logo">
			<img src="./assets/primarylogo2.jpg" alt="Logo Coding the Curbs donkere tekst doorzichtige achtergrond" class="primair-logo">
			<img src="./assets/primarylogo3.jpg" alt="Logo Coding the Curbs blauwe tekst doorzichtige achtergrond" class="primair-logo">
		</div>
		<p class="hight">Minimale hoogte: 25px<br>
			Maximale hoogte: geen</p>

		<h3>Secundaire logo's</h3>
		<p>Dit logo moet gebruikt worden op smalle plekken waar het primaire logo teveel ruimte inneemt of als er geen verwijzing nodig is.</p>
		<div class="logo-container">
			<img src="./assets/secundairylogo1.jpg" alt="Logo Coding the Curbs groen logo blauwe achtergrond" class="secundair-logo">
			<img src="./assets/secundairylogo2.jpg" alt="Logo Coding the Curbs wit logo blauwe achtergrond" class="secundair-logo">
			<img src="./assets/secundairylogo3.jpg" alt="Logo Coding the Curbs donker logo doorzichtige achtergrond" class="secundair-logo">
			<img src="./assets/secundairylogo4.jpg" alt="Logo Coding the Curbs blauw logo doorzichtige achtergrond" class="secundair-logo">
		</div>
		<p class="hight">Minimale hoogte: 16px<br>
			Maximale hoogte: 50px</p>
		<h3>Kleuren</h3>
		<div class="flex-container">
				<div class="flex-items">#524dd0</div>
				<div class="flex-items">#110f2a</div>
				<div class="flex-items">#ffffff</div>
				<div class="flex-items">#00ffec</div>
			</div>
	</div>

	<div class="container">
		<h3>Grafische afbeeldingen</h3>
		<p>Zorg ervoor dat afbeeldingen altijd een alternatieve tekst bevatten. Dit mag ook een 'lege' tekst zijn als de afbeelding geen toegevoegde waarde heeft.</p>
		<div class="img-container">
			<img src="./assets/grafisch1.jpg" alt="Voorbeeld smart zone in straat">
			<img src="./assets/grafisch2.jpg" alt="Voorbeeld smart zone in centrum">
			<img src="./assets/grafisch3.jpg" alt="Voorbeeld indeling smart zone">
		</div>

		<h3>Foto's</h3>
		<p>Zorg ervoor dat foto's altijd een alternatieve tekst bevatten. Dit mag ook een 'lege' tekst zijn als de foto geen toegevoegde waarde heeft.</p>
		<div class="img-container">
			<img src="./assets/foto1.jpg" alt="Een stad in de avondschemering">
			<img src="./assets/foto2.jpg" alt="Step op de straat">
			<img src="./assets/foto3.jpg" alt="Mensen die over de markt lopen">
			<img src="./assets/foto4.jpg" alt="Een straat met een trambaan">
			<img src="./assets/foto5.jpg" alt="Uitzicht op een straat vanuit een hoog perspectief">
			<img src="./assets/foto6.jpg" alt="Uitzicht op een stad vanuit een hoog perspectief">
			<img src="./assets/foto7.jpg" alt="Geparkeerde fietsen onder een boom bij een gracht">
			<img src="./assets/foto8.jpg" alt="Banden van fietsen van dichtbij">
			<img src="./assets/foto9.jpg" alt="Uitzicht op een straat vanaf de muur">
			<img src="./assets/foto12.jpg" alt="Bezorg busje op een smart zone">
			<img src="./assets/foto13.jpg" alt="Terras op een smart zone">
			<img src="./assets/foto14.jpg" alt="Voorbeeld smart zone">
			<img src="./assets/foto10.jpg" alt="Mensen die fietsen in een park" class="standing-img">
			<img src="./assets/foto11.jpg" alt="Uitzicht op een lege straat" class="standing-img">
		</div>
	</div>

	<div class="container">
		<h3>Code voorbeeld</h3>
		<pre><code>
<!--			-->&lt;img src="foto.jpg" alt="Dit is een foto"&gt;
		</code></pre>

		<pre><code>
<!--			-->&lt;figure&gt;
<!--			-->	&lt;img src="foto.jpg" alt="Dit is een foto"&gt;
<!--			-->&lt;/figure&gt;
		</code></pre>

		<pre><code>
<!--			-->&lt;figure&gt;
<!--			-->	&lt;img src="foto.jpg" alt="Dit is een foto"&gt;
<!--			-->	&lt;figcaption&gt;Dit is hoe je een afbeelding toevoegd&lt;/figcaption&gt;
<!--			-->&lt;/figure&gt;
		</code></pre>
	</div>
</article>