
.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    font-size: 18px;
    transition: 0.1s ease;
}

/* On hover, add a little bit see-through */
.prev:hover,
.next:hover {
    opacity: 0.6;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* The dots */
.dot {
    z-index: 99;
    cursor: pointer;
    height: 5px;
    width: 5px;
    margin: 0 2px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    user-select: none;
}

.active {
    background-color: transparent;
    border: 1px solid black;
}

/* Fading animation */
.fade {
    background-color: #5052c9;
    animation-name: fade;
    animation-duration: 1000ms;
}

img {
    opacity: 0.41;
}



@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}