<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="./berichtgeving.css">
	<link rel="stylesheet" href="../../style.css">
	<script src="./berichtgeving.js"></script>
	<title>Berichtgeving</title>
</head>

<body>
	<header>
		<h1>Berichtgeving</h1>
	</header>
	
	<main>
		<article>
			<header>
				<h2>Soorten Berichtgevingen</h2>
				<hr/>
			</header>

        <p>Er is helaas geen berichtgeving bij Coding the Curbs alleen dat houdt niet dat ze het niet nodig hebben.
		Ik zelf denk dat als ze een berichtgeving hebben voor het versturen van een bericht via de contact pagina het voor eindgebruikers
	    veel fijner zal zijn om gebruik te maken van de opties</p>

		<h2>Toast(Pop Up Berichtgeving)</h2>
<p>Klik op het knop voor een voorbeeld dat 5 seconden zal duren. </p>


<button onclick="launch_toast()">Berichtgeving</button>

<div id="toast"><div id="img">CTC</div><div id="desc">Bericht verstuurd</div></div>

<p>Om het voor elkaar te krijgen maken we gebruik van HTML, CSS en een stukje JS. Ik zal hier onder een paar voorbeelden geven van de code. </p>
<pre><code>
	<H2>HTML</H2>

	button onclick="launch_toast()">Verstuur</button>
    div id="toast"><div id="img">CTC</div><div id="desc">Bericht verstuurd</div></div>

	Dit wordt samen gevoegd met het verstuur knop van de contact pagina zodat gelijk de berichtgeving wordt getriggerd.


	<H2>CSS</H2>
	#toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    /*margin-left: -125px;*/
    margin: auto;
    background-color: rgb(82, 77, 208);
    color: #fff;
    text-align: center;
    border-radius: 2px;

    position: fixed;
    z-index: 1;
    left: 0;right:0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

De bovenste code is de basis voor onze berichtgeving(Toast). Zoals te zien gebruiken we de kleus van onze huisstijl voor onze pop up.

#toast #img{
	width: 50px;
	height: 50px;
    
    float: left;
    
    padding-top: 16px;
    padding-bottom: 16px;
    
    box-sizing: border-box;

    
    background-color: rgb(82, 77, 208);
    color: #fff;
}

Met de bovenste code kunnen we een logo der bij zetten voor de berichtgeving maar in plaats daar van gebruiken we voorlopen alleen de afkorting.

#toast #desc{

    
    color: #fff;
   
    padding: 16px;
    
    overflow: hidden;
	white-space: nowrap;
}

#toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s,stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

Hier laten we zien hoe lang er over de verschillende transformaties wordt gedaan.

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px} 
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}
@-webkit-keyframes stay {
    from {min-width: 350px} 
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}
@-webkit-keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;} 
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

De bovenste code's worden gebruikt voor de -webkit-animation.

<h2>JS</h2>

function launch_toast() {
	var x = document.getElementById("toast")
	x.className = "show";
	setTimeout(function(){ x.className = x.className.replace("show", ""); }, 5000);
  }

Dit wordt weer gebruikt voor het animatie overgang van de berichtgeving.

    }</code></pre>

			<footer></footer>
		</article>
	</main>
</body>

</html>