@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');

main {
    width: 80%;
    margin-left: 10%;
}

.container {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container > p {
    margin-bottom: 1em;
    font-family: sans-serif;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.primair-logo {
    max-height: auto;
    max-width: 30%;
}

.secundair-logo {
    max-width: 20%;
    max-height: auto;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: left;
    align-items: center;
    align-content: normal;
  }

  .flex-items {
    width: 5em;
    height: 5em;
    margin: .3em;
    padding: .3em;
    font-family: sans-serif;
    border-radius: 5px;
  }

  .flex-items:nth-child(1) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: #524dd0;
    color: white;
  }

  .flex-items:nth-child(2) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: #110f2a;
    color: white;
  }

  .flex-items:nth-child(3) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: #ffffff;
    box-shadow: inset 0 0 0 1px #f1f1f1;
  }

  .flex-items:nth-child(4) {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;
    background-color: #00ffec;
    box-shadow: inset 0 0 0 1px #f1f1f1;
  }

.img-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.img-container img {
    max-height: auto;
    max-width: 30%;
    object-fit: cover;
    flex: 0 0 30%;
    gap: 2rem;
    margin-bottom: 2rem;
}

.standing-img {
    max-width: 30%;
    max-height: auto;
    margin-left: 10%;
    margin-right: 10%;
}

header {
    margin-bottom: 2em;
}

h3 {
    margin: 1em 0;
}
