@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');

h3{
    margin-top: 1em;
}

h4{
    margin-top: 1em;
}

article > div:nth-of-type(1){
    padding: 1.3em;
    background-color: #524dd0;
    padding-top: 2em;
    font-family: 'Rajdhani', sans-serif;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    font-size: 18px;
}

article > div:nth-of-type(1) > img{
    max-width: 9em;
    margin-right: auto;
    margin-left: 3.5em;
}


article > div:nth-of-type(1) > div > span{
    margin-right: 4em;
}

article > div:nth-of-type(1) > div > span:hover{
    color: black;
    transition: .3s ease;
}

article > div:nth-of-type(1) > div > button:nth-of-type(1){
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #00ffec;
    border: none;
    padding: .75em 2.5em .75em 2.5em;
    border-radius: .5em;
}

article > div:nth-of-type(1) > div > button:nth-of-type(1):hover{
    background-color: white;
    transition: .3s ease;
}

article > div:nth-of-type(1) > div > button:nth-of-type(2){
    padding: 1em;
    color: white;
    background-color: #524dd0;
    border: solid white 1px;
    border-radius: .25em;
    margin-left: .2em;
}

article > div:nth-of-type(1) > div > button:nth-of-type(2):hover{
    background-color: #242e73;
}

.move{
    margin-left: 1em;
}

article > div:nth-of-type(2){
    padding: 1.3em;
    background-color: #524dd0;
    padding-top: 2em;
    display: flex;
    font-size: 18px;
    max-width: 40em;
}

article > div:nth-of-type(2) > img{
    max-width: 9em;
    margin-right: auto;
    margin-left: 3em;
}

article > div:nth-of-type(3){
    padding-bottom: 8em;
    background-color: #09102E;
    padding-top: 2em;
    display: flex;
    flex-flow: row nowrap;
    color: white;
}

article > div:nth-of-type(3) > img{
    max-width: 7em;
    height: 2.5em;
    margin-right: auto;
    margin-left: 3em;
}

article > div:nth-of-type(3) > div{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 5em;
    font-family: 'Rajdhani', sans-serif;

}

article > div:nth-of-type(3) > div > span{
    margin-bottom: 1em;
}

article > div:nth-of-type(3) > div > span > a:visited{
    color: white;
}

article > div:nth-of-type(3) > div > img{
    margin-bottom: 1em;

}

article > div:nth-of-type(3) > button{
    font-family: 'Rajdhani', sans-serif;
    font-size: 18px;
    color: black;
    background-color: #00ffec;
    border: none;
    padding: .75em 1.5em .75em 1.5em;
    border-radius: .3em;
    height: 2.7em;
    margin-right: 3em;
}

article >  div:nth-of-type(3) > button:hover{
    background-color: white;
    transition: .3s ease;
}

article > div:nth-of-type(4){
    max-width: 40em;
    padding-bottom: 3em;
    background-color: #09102E;
    padding-top: 2em;
    display: flex;
    flex-flow: row nowrap;
    color: white;
    justify-content: center;
}

article > div:nth-of-type(4) > img{
    max-width: 7em;
}

pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
}

p{
    margin-top: 1em;
    font-weight: bold;
}