<section>
	<header>
		<h1>Reclame</h1>
	</header>
	<div class="grid">
		<div>
			<article>
				<header>
					<h2>Soorten</h2>
				</header>
				<div>
					Hier komen de soorten/voorbeelden
				</div>
			</article>

			<article>
				<header>
					<h2>Code</h2>
				</header>
				<div>
					<article>
						<header>
							<h3>Code 1</h3>
						</header>
						<div>
							<pre><code>Dit is code</code></pre>
						</div>
					</article>
				</div>
			</article>
		</div>
		<div>
			<article>
				<header>
					<h2>Omschrijving</h2>
				</header>
				<div>
					Hier komt de omschrijving
				</div>
			</article>

			<article>
				<header>
					<h2>Kleuren</h2>
				</header>
				<div>
					Hier komen de kleuren
				</div>
			</article>

			<article>
				<header>
					<h2>Gedrag</h2>
				</header>
				<div>
					Vertel hier over hoe het zich gedraagt
				</div>
			</article>
		</div>
	</div>
</section>

